In [453]:
import json
import random
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import spatial

import pandas as pd
import numpy as np

import os
import datetime
import string
import nltk

In [454]:
# df = pd.read_csv('scraper results/data scientist.csv')
# df

In [455]:
# df.dtypes

In [456]:
wordnet_lemmatizer = WordNetLemmatizer()

#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return " ".join(lemm_text)

#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output = [i for i in "".join(text).split(" ") if i not in stopwords]
    return " ".join(output)


def clean_job_description(df: pd.DataFrame):
    df['job_description_cleaned'] = df['Job Description'].apply(lambda x:remove_punctuation(x))
    df['job_description_cleaned'] = df['job_description_cleaned'].apply(lambda x: x.lower())

    df['job_description_cleaned'] = df['job_description_cleaned'].apply(lambda x:remove_stopwords(x))
    df['job_description_cleaned'] = df['job_description_cleaned'].str.replace(r"(\n)+"," ", regex = True)

    df['job_description_cleaned'] = df['job_description_cleaned'].apply(lambda x:lemmatizer(x.split(" ")))


def get_word_counts_df(df):
    temp = df["job_description_cleaned"].str.split(expand=True).stack().value_counts()
    ret = pd.DataFrame(temp, columns=["count"])
    return ret

In [457]:
# df = pd.read_csv('data_jobs_data/data/DataScientist.csv').drop(['Unnamed: 0', 'index'],axis=1)
# # df = pd.read_csv('scraper results/data scientist 900.csv')
# df

In [458]:
def remove_duplicates(df:pd.DataFrame, exclude=None):
    
    subset_columns = ['Job Title', 'Company Name', 'Location', 'Salary Estimate', 'Rating', 'Job Description']
    
    if exclude:
        subset_columns.remove(exclude)
    
    df.sort_values(subset_columns, inplace=True)

    df['Duplicate Count'] = df.groupby(subset_columns)['Job Title'].transform('count')
    df.drop_duplicates(subset=subset_columns, inplace=True, keep='last')

In [ ]:
['Job Title', 'Company Name', 'Location', 'Salary Estimate', 'Rating', 'Job Description', 'Founded', 'Industry', 'Revenue', 'Sector', 'Size', 'Type', 'Easy Apply']

In [459]:

# Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
def convert_sqft_to_num(x,agg):
    if x == '-1' or not x or x == np.NaN:
        return None
    tokens = x.split('-')

    try:
        if len(tokens) == 2:
            if agg == 'mean':
                return (float(tokens[0])+float(tokens[1]))/2
            elif agg == 'min':
                return min(float(tokens[0]),float(tokens[1]))
            elif agg == 'max':
                return max(float(tokens[0]),float(tokens[1]))
        return float(x)
    except Exception as e:
        print(tokens)
        print(e)
        return None

def isrevenue(x):
    if x=="Non-Applicable":
        return 0
    elif x=="(USD)":
        return 1

def salary_type(s):
    if not isinstance(s,str):
        return None
    if 'Per Hour' in s:
        return 'Per Hour'
    else:
        return 'Annual (K)'

def level(s):
    if 'Senior' in s:
        return 


def reorder_dataframe_columns_inplace(df:pd.DataFrame, desired_order, prefix='delete_'):
    filtered_order = [col for col in desired_order if col in df.columns]
    df.rename(columns={col: prefix + col for col in filtered_order}, inplace=True)
    for col in filtered_order:
        df[col] = df[prefix + col]
        del df[prefix + col]

def preprocessing(df: pd.DataFrame):
    df.rename(columns = {'Type of ownership':'Type'}, inplace = True) # ,'Salary Estimate':'salary'
    for col in {'Unnamed: 0', 'index', 'Competitors', 'Headquarters'}:
        if col in df.columns:
            df.drop(col, axis=1, inplace=True)

    reorder_dataframe_columns_inplace(df, ['Job Title', 'Company Name', 'Location', 'Salary Estimate', 'Rating', 'Job Description', 'Founded', 
                                           'Industry', 'Revenue', 'Sector', 'Size', 'Type', 'Easy Apply', 'Duplicate Count'])

    df['Job Title clean'] = df['Job Title'].apply(lambda x:x.join(x.split(',')[:1]))
    df['Job Title clean'] = df['Job Title clean'].apply(lambda x:x.join(x.split('/')[:1]))
    df['Job Title clean'] = df['Job Title clean'].apply(lambda x:x.join(x.split(' - ')[:1]))
    df['Job Title clean'] = df['Job Title clean'].str.replace('Sr.', 'Senior')
    df['Job Title clean'] = df['Job Title clean'].str.replace('Sr', 'Senior')
    df['Job Title clean'] = df['Job Title clean'].str.replace('Jr.', 'Junior')
    df['Job Title clean'] = df['Job Title clean'].str.replace('Jr', 'Junior')

    df['Job Title clean'] = df['Job Title clean'].apply(lambda x:x.replace('#NAME?','-'))
    df['Job Title clean'] = df['Job Title clean'].apply(lambda x:x.replace('with','-'))

    if df['Easy Apply'].dtype != bool:
        df['Easy Apply'] = df['Easy Apply'].replace(['-1'],0).replace(['FALSE'],1)
        df['Easy Apply'] = df['Easy Apply'].astype(bool)


    # df.dropna(how='any',axis=0,inplace=True)
    df.fillna(-1,inplace=True)
    df.reset_index(drop=True,inplace=True)

    df['Founded']=df['Founded'].astype(int)

    df['Size'] = df['Size'].apply(lambda x:x.replace('to','-'))
    df['Size'] = df['Size'].apply(lambda x:x.replace('+',' - 0'))
    df['Size'] = df['Size'].apply(lambda x:x.replace('employees',' '))
    df['Size'] = df['Size'].apply(lambda x:x.replace('Employees',' ')).str.replace(' ','')

    df['Salary Type'] = df['Salary Estimate'].apply(salary_type)


    # # Drop the rows where salary missing
    # df.drop(df[df['Salary Estimate'].isna() | (df['Salary Estimate'] == '-1')].index, inplace=True)

    # df['Salary Estimate'].replace([-1, None], '-1')
    df['Salary Estimate'] = df['Salary Estimate'].str.replace('[^0-9\-]', '', regex=True)
    df['Salary Estimate'].fillna('-1',inplace=True)

    df['min_salary'] = df['Salary Estimate'].apply(lambda x: convert_sqft_to_num(x, 'min'))
    df['max_salary'] = df['Salary Estimate'].apply(lambda x: convert_sqft_to_num(x, 'max'))

    # replace -1 with nan
    df['Revenue'] = df['Revenue'].replace(['-1', 'Unknown / Non-Applicable'],None)
    df['Sector'] = df['Sector'].replace(['-1'],None)
    df['Type'] = df['Type'].replace(['-1', 'Unknown'],None)
    df['Size'] = df['Size'].replace(['-1', 'Unknown'],None)
    df['Founded'] = df['Founded'].replace([-1],None)
    df['Rating'] = df['Rating'].replace([-1],None)


def extract_years_experience(description):
    # Updated regex pattern to match numbers with an optional '+' sign followed by 'year' or 'years'
    # This will match '2 years', '5-7 years', '3+ years', '3 year', etc.
    pattern = r'(\d+\+?|\d+-\d+)\s+years?'

    # Search for the pattern in the description
    match = re.search(pattern, description.lower())
    if match:
        return match.group(1)
    else:
        return None




def clean_data(df):
    print(df.shape)
    remove_duplicates(df)
    print(df.shape)
    preprocessing(df)
    print(df.shape)
    
    clean_job_description(df)
    

    # Apply the function to create a new column
    df['Years Experience'] = df['Job Description'].apply(extract_years_experience)

    
    return df

In [460]:
df = pd.read_csv('data_jobs_data/data/DataEngineer.csv')
# df
clean_data(df)
df.to_csv('data_jobs_data/data/DataEngineer_clean.csv',index=False)
df

(2528, 15)
(2516, 16)
(2516, 18)

,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,Founded,Industry,Revenue,Sector,Size,Type,Easy Apply,Duplicate Count,Job Title clean,Salary Type,min_salary,max_salary,job_description_cleaned,Years Experience
0,!!!100% Remote!!! Sr. Data and Integration Engineer,Amerit Consulting\n3.5,"Dallas, TX",74-134,3.5,"Job Description\nOur client is an American for-profit managed health care company, focused on sp...",2002,State & Regional Agencies,$5 to $10 million (USD),Government,51-200,Company - Private,False,1,!!!100% Remote!!! Senior Data and Integration Engineer,Annual (K),74.0,134.0,job description our client american forprofit managed health care company focused special popula...,None
1,#104733 HPC Systems and Data Engineer,UC San Diego\n4.3,"San Diego, CA",46-92,4.3,The effects of the COVID-19 pandemic have impacted UC San Diego Campus hiring. UCSD Campus will ...,1960,Colleges & Universities,None,Education,10000-0,College / University,False,1,#104733 HPC Systems and Data Engineer,Annual (K),46.0,92.0,effect covid19 pandemic impacted uc san diego campus hiring ucsd campus continue recruit essenti...,None
2,(Big Data Developer) Applications Systems Engineer 4,Wells Fargo\n3.6,"Chandler, AZ",66-122,3.6,"Job Description\n\nImportant Note: During the application process, ensure your contact informati...",1852,Banks & Credit Unions,$10+ billion (USD),Finance,10000-0,Company - Public,False,1,(Big Data Developer) Applications Systems Engineer 4,Annual (K),66.0,122.0,job description important note application process ensure contact information email phone number...,5+
3,"(Project Staff) Consultant, Data Engineer",Nationwide\n3.6,"Scottsdale, AZ",81-141,3.6,"As a team member in the Finance and Internal Audit department at Nationwide, the opportunities a...",1925,-1,$10+ billion (USD),None,10000-0,Company - Private,False,1,(Project Staff) Consultant,Annual (K),81.0,141.0,team member finance internal audit department nationwide opportunity endless grow learn diverse ...,None
4,"(SONUS) Engineer/Senior Engineer, IT Network Infrastructure",American Airlines\n3.8,"Fort Worth, TX",60-109,3.8,"(SONUS) Engineer/Senior Engineer, IT Network Infrastructure\n\n\n\n(SONUS) Engineer/Senior Engin...",1926,Airlines,$10+ billion (USD),Travel & Tourism,10000-0,Company - Public,False,1,(SONUS) Engineer,Annual (K),60.0,109.0,sonus engineersenior engineer network infrastructure sonus engineersenior engineer network infra...,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,Wireless Solutions Engineer - Sales Analytics,Crown Castle\n3.6,"Houston, TX",54-113,3.6,Position Summary\n\nAs a Wireless Solutions Engineer you will use your advanced data analytics a...,1994,Telecommunications Services,$2 to $5 billion (USD),Telecommunications,1001-5000,Company - Public,False,1,Wireless Solutions Engineer,Annual (K),54.0,113.0,position summary a wireless solution engineer use advanced data analytics rf network engineering...,3-5
2512,Wiring Installation Engineer,Butler Technical Group\n3.8,"Fort Worth, TX",56-89,3.8,"Wiring Installation Engineer\n\nLocation: Fort Worth, TX\n\nDescription\n\nThe Wiring Installati...",None,-1,None,None,501-1000,College / University,False,1,Wiring Installation Engineer,Annual (K),56.0,89.0,wiring installation engineer location fort worth tx description the wiring installation engineer...,5+
2513,eCom Data Engineer,PepsiCo\n3.7,"New York, NY",80-150,3.7,Auto req ID: 212077BR\nJob Description\n\n\nAs other sectors have shifted to eCommerce-first bus...,1965,Food & Beverage Manufacturing,$10+ billion (USD),Manufacturing,10000-0,Company - Public,False,1,eCom Data Engineer,Annual (K),80.0,150.0,auto req id 212077br job description a sector shifted ecommercefirst business model recent year ...,6+
2514,eDiscovery Pre-Sales Engineer 19-0828,Relativity\n3.7,"Chicago, IL",133-210,3.7,"We are Relativity. A market-leading, global tech company that equips legal professionals with a ...",2001,Enterprise Software & Network Solutions,None,Information Technology,1001-5000,Company - Private,False,1,eDiscovery Pre-Sales Engineer 19-0828,Annual (K),133.0,210.0,relativity marketleading global tech company equips legal professional powerful platform organiz...,3
2515,machine learning Engineer with AWS,Jconnect Infotech Inc\n3.8,"Philadelphia, PA",154-281,3.8,"Job Description\nHello,\n\nGreetings !!!\n\nMy client is looking for ML Engineer (Machine Learni...",None,-1,None,None,201-500,Company - Private,False,1,machine learning Engineer - AWS,Annual (K),154.0,281.0,job description hello greeting my client looking ml engineer machine learning aws please find d...,None

In [ ]:
for fname in os.listdir('combined scraper results'):
    data = pd.read_csv('combined scraper results/data engineer 2465.csv')
    clean_data(data)
    data.to_csv('combined scraper results/data engineer 2465 clean.csv',index=False)
    print(data)

In [461]:
pd.set_option('display.max_colwidth', 50)
df_new = pd.read_csv('combined scraper results/data engineer 2465.csv')
clean_data(df_new)
df_new.to_csv('combined scraper results/data engineer 2465 clean.csv',index=False)
df_new

(2465, 14)
(2465, 14)
(2157, 18)

,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,Founded,Industry,Revenue,Sector,Size,Type,Easy Apply,Duplicate Count,Job Title clean,Salary Type,min_salary,max_salary,job_description_cleaned,Years Experience
0,(ESEA) Systems Engineer level 2 (Data Flow and...,"The Kenjya-Trusant Group, LLC\n","Annapolis Junction, MD",59-90,3.7,POSITION: Systems Engineer 2 (Data Flow and Ro...,2002,Business Consulting,$5 to $25 million (USD),Management & Consulting,201-500,Company - Private,True,1.0,(ESEA) Systems Engineer level 2 (Data Flow and...,Annual (K),59.0,90.0,position system engineer 2 data flow routing s...,15
1,(Hybrid) Senior Enterprise Data Engineer,PenFed Credit Union\n,"McLean, VA",101-140,3.5,Overview\n\nAre you looking to take your caree...,1935,Banking & Lending,None,Financial Services,1001-5000,Nonprofit Organization,False,1.0,(Hybrid) Senior Enterprise Data Engineer,Annual (K),101.0,140.0,overview are looking take career good great em...,5+
2,(Hybrid) Senior Enterprise Data Engineer - San...,PenFed Credit Union\n,"San Antonio, TX",80-125,3.5,Overview\n\nAre you looking to take your caree...,1935,Banking & Lending,None,Financial Services,1001-5000,Nonprofit Organization,False,1.0,(Hybrid) Senior Enterprise Data Engineer,Annual (K),80.0,125.0,overview are looking take career good great em...,5+
3,"(USA) Senior, Software Engineer - Data Ventures",Walmart\n,"Dallas, TX",90-180,3.4,Position Summary...\n\nWhat you'll do...\n\nDo...,1962,General Merchandise & Superstores,$10+ billion (USD),Retail & Wholesale,10000-0,Company - Public,False,1.0,(USA) Senior,Annual (K),90.0,180.0,position summary what youll do do boundless en...,5
4,2024 Graduate - Data Scientist/Engineer - Deci...,Johns Hopkins Applied Physics Laboratory (APL)\n,"Laurel, MD",103-143,4.3,Description\n\nAre you passionate about transl...,1942,Aerospace & Defense,$1 to $5 billion (USD),Aerospace & Defense,5001-10000,Nonprofit Organization,False,1.0,2024 Graduate,Annual (K),103.0,143.0,description are passionate translating academi...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,Wire Data Engineer,Tekskills Inc\n,"Fort Worth, TX",76-111,4.3,Job Title : Wire engineer\n\nLocation : Fort W...,2003,Information Technology Support Services,None,Information Technology,501-1000,Company - Private,True,1.0,Wire Data Engineer,Annual (K),76.0,111.0,job title wire engineer location fort worth ...,5
2459,Wire data engineer,Tekskills\n,"Fort Worth, TX",76-111,4.3,Job Title : Wire Data Engineer\n\nLocation : F...,2003,Information Technology Support Services,None,Information Technology,501-1000,Company - Private,True,1.0,Wire data engineer,Annual (K),76.0,111.0,job title wire data engineer location fort w...,5
2461,Workday HR Data & Integration Engineer,DraftKings\n,"Boston, MA",63-93,4.0,We’re defining what it means to build and deli...,2012,Internet & Web Services,None,Information Technology,1001-5000,Company - Public,False,1.0,Workday HR Data & Integration Engineer,Annual (K),63.0,93.0,we’re defining mean build deliver extraordinar...,None
2462,data engineer lead,Starbucks\n,"Seattle, WA",114-153,3.7,Job Summary and Mission\n\nThis position contr...,1971,Restaurants & Cafes,$10+ billion (USD),Restaurants & Food Service,10000-0,Company - Public,False,1.0,data engineer lead,Annual (K),114.0,153.0,job summary mission this position contributes ...,None
2464,senior data engineer,Capgemini\n,"Saint Louis, MO",100-134,3.7,JOB DESCRIPTION\n\nHaving experience with AWS ...,1967,Enterprise Software & Network Solutions,$10+ billion (USD),Information Technology,10000-0,Company - Public,False,1.0,senior data engineer,Annual (K),100.0,134.0,job description having experience aws service ...,7-10

In [462]:
print(df.isna().sum())

Job Title                    0
Company Name                 0
Location                     0
Salary Estimate              0
Rating                     233
Job Description              0
Founded                    568
Industry                     0
Revenue                    830
Sector                     373
Size                       181
Type                       148
Easy Apply                   0
Duplicate Count              0
Job Title clean              0
Salary Type                  0
min_salary                   0
max_salary                   0
job_description_cleaned      0
Years Experience           716
dtype: int64

In [463]:
print(df_new.isna().sum())

Job Title                    0
Company Name                 0
Location                     0
Salary Estimate              0
Rating                     171
Job Description              0
Founded                    454
Industry                     0
Revenue                    763
Sector                     273
Size                       171
Type                        64
Easy Apply                   0
Duplicate Count              0
Job Title clean              0
Salary Type                 13
min_salary                  13
max_salary                  13
job_description_cleaned      0
Years Experience           493
dtype: int64

In [464]:
df.loc[df.min_salary.isna()].shape

(0, 20)

In [465]:
df_new.loc[df_new.min_salary.isna()].shape

(13, 20)

In [466]:
# print('unique job titles are :',df['Job Title clean'].unique())
print(len(df['Job Title'].unique()),'unique job titles')
print(len(df['Job Title clean'].unique()),'unique job titles (clean)')
sorted(df['Job Title clean'].unique())

1260 unique job titles
972 unique job titles (clean)

['!!!100% Remote!!! Senior Data and Integration Engineer',
 '#104733 HPC Systems and Data Engineer',
 '(Big Data Developer) Applications Systems Engineer 4',
 '(Project Staff) Consultant',
 '(SONUS) Engineer',
 '(Senior) Data Engineer',
 '+ Data Engineer',
 '. Java Engineer',
 '7232 Data Engineer (Analyst',
 ': Senior Data Engineer',
 'ADAS Test V&V Engineer',
 'AI',
 'AI Engineer',
 'AI ML Engineer',
 'AI OCR Engineer (Ony W2)',
 'AI Researcher',
 'AM',
 'AMS Verification and Modeling Engineer',
 'AV ENGINEER',
 'AVP',
 'AWS',
 'AWS Cloud Engineer',
 'AWS Data Engineer',
 'AWS Data Platform Engineer',
 'AWS Engineer',
 'AZURE DATA ENGINEER (Data Bricks)',
 'Ab Initio Engineer',
 'Advanced AI Engineer',
 'Advanced Python Data Engineer',
 'Advanced Software Engineer',
 'Advisory Services',
 'Aerospace Engineer',
 'Aircraft Configuration Engineer',
 'Airflow Data Engineer',
 'Airframe Structural Analysis Engineer-(Ft. Worth or Wichita)',
 'Amazon- Software Development Engineer',
 'Analog Design Engineer',
 'Analytics Engineer',
 'Analytics Graphics UI Applications Engineer',
 'Android IOT Engineer II',
 'Apple Music',
 'Application Developer ',
 'Application Engineer',
 'Application Performance Engineer Lead',
 'Applications Engineer',
 'Artificial Intelligence Engineer',
 'Assessment & Authorization Engineer',
 'Associate Data Engineer',
 'Associate Software Engineer',
 'Automated Test Solutions Engineer',
 'Automation Engineer',
 'Automation-PLC Programmer',
 'Avionics Design Engineer',
 'Avionics Network Engineer',
 'Avionics System Engineer',
 'Azure Data Engineer',
 'Azure Data Engineer - Big Data',
 'Azure Data Engineer- Houston TX',
 'Azure Data Engineer@Houston',
 'Azure Enigneer (Data Factory',
 'Azure Focused Data Engineer',
 'BHJOB15656_15057 Data Engineer',
 'BI Engineer',
 'BIG DATA ENGINEER',
 'BIG-DATA ',
 'Back End Engineer (PHP)',
 'Back-End Engineer',
 'Backend',
 'Backend Developer',
 'Backend Engineer',
 'Backend Platform Engineer',
 'Backend Python Engineer',
 'Backend Software Engineer',
 'Backend Software Engineer @ ClickUp [50',
 'Battery Process Engineer',
 'Big Data',
 'Big Data ',
 'Big Data Administrator',
 'Big Data Developer',
 'Big Data Engineer',
 'Big Data Engineer (- Azure Data Exp)',
 'Big Data Engineer (- Azure Data factory Exp)',
 'Big Data Engineer (Kafka)',
 'Big Data Engineer (PA)',
 'Big Data Engineer (TX)',
 'Big Data Engineer - Azure exp',
 'Big Data Engineer - Cassandra and Spark',
 'Big Data Engineer - Cloudera',
 'Big Data Engineer - DATALAKES',
 'Big Data Engineer - Strong Java background',
 'Big Data Engineer II',
 'Big Data Engineer in wilmington',
 'Big Data Engineer w',
 'Big Data Engineer- Hadoop',
 'Big Data Engineer- Initial Remote work',
 'Big Data Engineering Intern',
 'Big Data Java Engineer',
 'Big Data Machine Learning Engineer',
 'Big Data Platform Engineer',
 'Big Data QA Engineer',
 'Big Data Quality Engineer',
 'Big Data Software Engineer',
 'Big Data Solutions Engineer (pre-sales)',
 'Big Data Tester',
 'Big data engineer',
 'Big-Data Engineer',
 'BigData Engineer',
 'Biotechnology Quality Engineer',
 'Building Controls Engineer',
 'Business Intelligence (BI) Engineer',
 'Business Intelligence Engineer',
 'Business Systems & Data Analyst',
 'C# Javascript Software Engineer',
 'C# Software Engineer',
 'C++ Software Engineer',
 'CDAT Entry Level Hardware Engineer',
 'CIMD Technology',
 'CNO Reverse Engineer',
 'COMPUTER ENGINEER',
 'COMPUTER SCIENTIST',
 'CPU Performance –Senior Principal Modeling Engineer',
 'CYBERSECURITY SENIOR ENGINEER',
 'Campaign Data Specialist (Adobe Campaign or Unica)',
 'Cell Culture Bioprocess Development Engineer',
 'Celonis Data Engineer & Analyst',
 'Chassis Process Engineer Advanced Manufacturing',
 'Civil Engineer',
 'Civil Engineer 3',
 'Civil Project Engineer',
 'Cleaning Validation Engineer',
 'Client Trade Support Engineer',
 'Cloud',
 'Cloud Data Engineer',
 'Cloud Data Engineer (Azure)',
 'Cloud Data Engineer (Azure) |',
 'Cloud Data Integration Engineer (remote)',
 'Cloud Data Platform Engineer',
 'Cloud Data Warehouse Engineer',
 'Cloud DevOps Engineer (REMOTE)',
 'Cloud Devops Engineer',
 'Cloud Engineer',
 'Cloud Engineer (EUC)',
 'Cloud Engineer (Infra)',
 'Cloud Infrastructure Engineer',
 'Cloud Operations Engineer',
 'Cloud Services Engineer',
 'Cloud Software Engineer',
 'Cloud Storage Engineer',
 'Competence Engineer 1',
 'Computer Engineer',
 'Computer Vision Engineer',
 'Continuous Improvement Automation and Controls Engineer',
 'Controls Engineer',
 'Cost Engineer',
 'Customer Solutions Engineer',
 'Cyber Defense Infrastructure Engineer Managed Detection & Response',
 'Cyber Security Data Scientist.',
 'Cyber Security Engineer',
 'Cyber Security and Business Continuity Engineer',
 'Cyber Test Engineer',
 'Cybersecurity Engineer',
 'Cybersecurity Principal',
 'Cybersecurity Senior Engineer',
 'Cybersecurity Senior Engineer IAM: Identity Management and Governance',
 'Cybersecurity Staff Engineer',
 'DAL',
 'DATA ENGINEER',
 'DATA ENGINEER (Remote)',
 'DC Operations Engineer',
 'Data',
 'Data ',
 'Data & Operations Engineer',
 'Data & Reporting Lead',
 'Data Analyst',
 'Data Analyst BI Engineer',
 'Data Analytics',
 'Data Analytics Engineer',
 'Data Analytics Senior Analyst',
 'Data Architect',
 'Data Architect ',
 'Data Architect & Engineer',
 'Data Architect II',
 'Data Backup Engineer',
 'Data Backup Engineer Remote US',
 'Data Center Building Engineer',
 'Data Center Electrical Engineer (Tier 3 & 4 Datacenter design)',
 'Data Center Engineer',
 'Data Center Engineer (Late Shift)',
 'Data Center Hardware Engineer',
 'Data Center Hardware Engineer (Deployment)',
 'Data Center Hardware Engineer I',
 'Data Center Hardware Engineer II',
 'Data Center Lead Operating Engineer (3rd Shift)',
 'Data Center Partner Engineer',
 'Data Center Power Engineer',
 'Data Center Power Solutions Engineer',
 'Data Center Production Operations Engineer',
 'Data Communications Engineer',
 'Data Conversion Engineer',
 'Data Conversion Test Engineer',
 'Data Crawler Engineer',
 'Data Developer',
 'Data Engineer',
 'Data Engineer ',
 'Data Engineer ( Currently Remote Later need to move to Bentonville',
 'Data Engineer ( Kafka)',
 'Data Engineer (AI',
 'Data Engineer (AWS)',
 'Data Engineer (Azure Delta Lake and Databricks)',
 'Data Engineer (Big Data Hadoop)',
 'Data Engineer (Big Data)',
 'Data Engineer (Big Data-Hadoop)',
 'Data Engineer (Contract)',
 'Data Engineer (Fast Moving Positions)',
 'Data Engineer (Hadoop)',
 'Data Engineer (Mid-Level)',
 'Data Engineer (Python',
 'Data Engineer (Python and SQL)',
 'Data Engineer (Python)',
 'Data Engineer (Remote)',
 'Data Engineer (Spark)',
 'Data Engineer (Web Scraping)',
 'Data Engineer (remote)',
 'Data Engineer - ETL and DataModeling',
 'Data Engineer - NiFi',
 'Data Engineer - Pyspark',
 'Data Engineer - SQL',
 'Data Engineer - Security Clearance',
 'Data Engineer 1',
 'Data Engineer 140K+',
 'Data Engineer 2',
 'Data Engineer 3',
 'Data Engineer 3 ',
 'Data Engineer 4- Guidewire Data Hub',
 'Data Engineer ; AES',
 'Data Engineer AWS',
 'Data Engineer ETL Developer',
 'Data Engineer Hadoop',
 'Data Engineer I',
 'Data Engineer II',
 'Data Engineer II Spectrum Enterprise',
 'Data Engineer III',
 'Data Engineer III (E3)',
 'Data Engineer Intern',
 'Data Engineer Intern (Remote)',
 'Data Engineer Lead',
 'Data Engineer SQL',
 'Data Engineer SQL-PLSQL-HANA',
 'Data Engineer Senior (ETL)',
 'Data Engineer With Strong Python Experience',
 'Data Engineer _ Chicago',
 'Data Engineer and Visualization Developer',
 'Data Engineer for TeleHealth ',
 'Data Engineer needed!',
 'Data Engineer role(SQL',
 'Data Engineer –',
 'Data Engineer – Full-Time',
 'Data Engineer(Java ',
 'Data Engineer(Phyton)',
 'Data Engineer- Customer Data Platform',
 'Data Engineer- Guidewire Data Hub',
 'Data Engineer- Python',
 'Data Engineer- Senior Specialist',
 'Data Engineer- Wilmington',
 'Data Engineer-Houston',
 'Data Engineer-SQL-PLSQL-HANA',
 'Data Engineer-Senior Specialist',
 'Data Engineering -Team Lead',
 'Data Engineering Manager',
 'Data Engineers',
 'Data Engineers: (Technical Lead',
 'Data Integration Engineer',
 'Data Integration Engineer II',
 'Data Logistics Engineer',
 'Data Management Engineer',
 'Data Migration Engineer',
 'Data Mining Engineer',
 'Data Modeler',
 'Data Modeler Architect',
 'Data Network Engineer',
 'Data Operations Engineer',
 'Data Ops Engineer',
 'Data Path Engineer',
 'Data Pipeline Engineer',
 'Data Platform Consultant',
 'Data Platform Engineer',
 'Data Platform Engineer III',
 'Data QA Engineer',
 'Data QA Lead Engineer',
 'Data Reliability Engineer',
 'Data Research Developer',
 'Data Science Engineer',
 'Data Science Software Engineer',
 'Data Scientist',
 'Data Scientist ',
 'Data Scientist & Data Engineer',
 'Data Scientist (Engineering)',
 'Data Scientist - AWS',
 'Data Scientist- Machine Learning Software Engineer',
 'Data Software Engineer',
 'Data Software Engineer II (Open to remote)',
 'Data Steward',
 'Data Storage Engineer Consultant',
 'Data Systems Engineer',
 'Data Visualization Engineer',
 'Data Warehouse Engineer',
 'Data Warehousing Engineer',
 'Data and Analytics Engineer',
 'Data and Software Engineer',
 'Data engineer',
 'Data engineer Kubernetes - Python',
 'Database',
 'Database Analyst 5-SSIS Engineer',
 'Database Engineer',
 'Database Engineer (Temp)',
 'Database Engineer SQL',
 'Database Security Engineer',
 'Database- Senior Data Engineer',
 'Datacenter Engineer',
 'Deep Learning Engineer',
 'Design Engineer',
 'Design Optimization Engineer (Staff or above)',
 'Dev Ops Engineer',
 'DevOps Engineer',
 'DevOps Engineer (CF)',
 'DevOps Engineer (MediaCloud',
 'DevOps Systems Engineer Asc Mgr',
 'DevOps and SQL Server Engineer',
 'Developer',
 'Diagnostics Systems Engineer',
 'Digital Design Engineer -',
 'Digital SW Eng Lead',
 'Direct Trading Support Engineer',
 'Director Business Intelligence Data Engineering & Automation',
 'Director of Data Engineering',
 'Drainage Engineer',
 'Drive System Analysis Engineer',
 'E-Discovery Data Engineer (ADS)',
 'ELK DevOps Engineer-San Antonio',
 'ELK Stack Engineer',
 'ENGINEER',
 'ETL',
 'ETL Data Engineer',
 'ETL Engineer Senior Level',
 'ETL Python Data Engineer at IBM (Visa Sponsorship for Canada)',
 'Electrical Engineer',
 'Electrical Engineer (Senior)',
 'Electrical Engineer (Senior) - Security Clearance',
 'Electrical Engineer II',
 'Electrical Engineer III',
 'Electrical Engineer Stf',
 'Electrical Instrumentation Engineer',
 'Electrical Power Generation and Distribution Engineer (Fort Worth or Wichita)',
 'Electrical Systems Engineer',
 'Electrical and Ice Protection Systems Integration Engineer',
 'Electronic Engineer',
 'Electronic Security Systems Engineer Technician',
 'Electronics Engineer',
 'Electronics Engineer Senior Staff',
 'Electronics Engineer Staff',
 'Elk Stack Engineer',
 'Embedded Software Engineer',
 'Energy Engineer',
 'Engineer',
 'Engineer 1',
 'Engineer Development Program',
 'Engineer EIT',
 'Engineer EIT- Highway',
 'Engineer I',
 'Engineer I Water',
 'Engineer I – Water',
 'Engineer II-Civil',
 'Engineer Manager',
 'Engineer Quality Control Inspector',
 'Engineer Quality Control Inspector - Security Clearance',
 'Engineer Senior-Level',
 'Engineer Technician',
 'Engineer l',
 'Engineering Manager',
 'Enterprise Application Integration Engineer II',
 'Enterprise Data Customer Engineer',
 'Enterprise Data Engineer',
 'Enterprise Infrastructure Customer Engineer',
 'Enterprise Systems Engineer',
 'Entry Level Outside Junior Sales Engineer',
 'Entry Level Software Engineer',
 'Environmental Engineer',
 'Equipment Engineer',
 'Exchange Engineer',
 'Experienced RF',
 'F-16 Mechanical Systems Support Engineer (Level 3)',
 'F-35 CNI Electronics Subsystem Engineer Senior (Level 3)',
 'F35 Software Engineer',
 'FPGA Design Engineer (Technical Lead)',
 'Facilities Senior Engineer',
 'Federal',
 'Federal ETL Engineer',
 'Field Engineer',
 'Field Engineer (Heavy Civil Construction)',
 'Field Sales Engineer',
 'Field Service Engineer',
 'Field Services Support Engineer',
 'Field Solutions Engineer',
 'Firewall Deployment Engineer',
 'First Flyer',
 'Flow Data Application Engineer',
 'Flow Data Project Engineer',
 'Flow Data Senior Project Engineer',
 'Forward Deployed Engineer',
 'Front End Engineer',
 'Full Stack Data Engineer Irving AVP',
 'Full Stack Engineer',
 'Full Stack Engineer (PHP)',
 'Full Stack Software Engineer',
 'Full Stack Software Engineer Specialist',
 'Full-Stack Engineer',
 'Full-stack Software',
 'Full-time Software Engineer',
 'Future Opportunities: Software Development Engineer',
 'Future Opportunity-Azure Data Engineer',
 'Future Opportunity: Azure Data Engineer',
 'Future Opportunity: Azure Security Engineer',
 'Future Opportunity: Data Engineer',
 'Future Opportunity: Senior Software Engineer',
 'GCP Data engineer - Dataproc + Big Table',
 'General Engineer',
 'Geo-technical Engineer',
 'Geometric Dimensioning & Tolerancing (GD&T) Lead Engineer',
 'Graduate Engineer',
 'Graduate Software Engineer',
 'Greenplum ',
 'Guidewire Data Engineer',
 'Guidewire DataHub Engineer',
 'HPC Systems and Data Engineer',
 'Hadoop Data Engineer',
 'Hadoop Developer ',
 'Hardware Support Engineer-PreSales',
 'High Voltage Power Systems Engineer',
 'IAM Engineer',
 'IO Engineer',
 'IS Data Engineer I',
 'IS Data Engineer II',
 'IT Advisor',
 'IT Data Engineer',
 'IT Data Engineer - Data Catalog',
 'IT Engineer II',
 'IT Security Engineer',
 'IT Security Engineer (IT Compliance & Access Management)',
 'IT Security Engineer- Identity Access and Compliance',
 'IT Support Engineer',
 'IT Support Engineer I',
 'IT Systems Engineer',
 'Implementations Engineer',
 'Informatica IDQ',
 'Infrastructure Engineer',
 'Infrastructure and Back-End Engineer',
 'Infrastructure and Data Center Engineer',
 'Inside Sales Engineer',
 'Integration Engineer',
 'Integration Lab Systems Engineer',
 'Integrity Engineer',
 'Intermediate Pipeline Engineer',
 'Java ',
 'Java - big data engineer',
 'Java Back End Engineer',
 'Java Dev Ops Engineer',
 'Java Dev Ops Engineer Mid in San Antonio',
 'Java Engineer',
 'Java Engineer (Full Stack developer)',
 'Java Server Engineer',
 'Java Software Engineer',
 'Java Software Engineer III',
 'Java Vert.x Engineer',
 'Javascript',
 'Job Role : Data Engineer',
 'Junior Big Data Engineer',
 'Junior Business Intelligence Data Engineer',
 'Junior Data Engineer',
 'Junior Data Engineer - Security Clearance',
 'Junior Data Scientist',
 'Junior Site Reliability Engineer',
 'Junior Site Reliability Engineer (Apps Systems Engineer 4)',
 'Junior Software Engineer',
 'Junior Test',
 'Kafka Data Engineer (remote)',
 'Korean Bilingual Data Engineer',
 'LabVIEW Software Engineer',
 'LabView Software Engineer',
 'Lead',
 'Lead Big Data Engineer',
 'Lead Big Data Engineer ',
 'Lead Business Intel Data Warehouse Engineer',
 'Lead Cloud ',
 'Lead Cybersecurity Engineer',
 'Lead Data Center Engineer',
 'Lead Data Engineer',
 'Lead Data Engineer (St. Louis',
 'Lead Engineer',
 'Lead Network Engineer (Datacenter)',
 'Lead Networking Research Engineer',
 'Lead Operating Engineer',
 'Lead Process Engineer',
 'Lead Security Engineer',
 'Lead Software Development Engineer in Test',
 'Lead Software Development Engineer in Test (SDET)',
 'Lead Software Engineer',
 'Lead Tech Support Engineer',
 'Leading Systematic Hedge Fund',
 'Linux Systems Engineer',
 'Lunar Gateway Data Integration Software Engineer',
 'Lunar Gateway Space Vehicle Data Software Systems Engineer',
 'MACHINERY ENGINEER',
 'MDM Data Engineer',
 'MTS Software Engineer',
 'Machine Learning',
 'Machine Learning ',
 'Machine Learning & Data Engineer (Remote)',
 'Machine Learning (CI',
 'Machine Learning Engineer',
 'Machine Learning Engineer - DevOps(Expertise in CI',
 'Machine Learning Software Engineer – Model Optimization',
 'Machine Learning Software Engineer – Qualcomm AI Research',
 'Machine Learninig Engineer',
 'Mainframe Production Support Engineer',
 'Malware Reverse Engineer',
 'Manager',
 'Manufacturing Data Analytics Engineer',
 'Manufacturing Engineer Lead',
 'Materials Engineer',
 'Matlab Software Engineer',
 'Mechanical Design Engineer',
 'Mechanical Engineer II',
 'Mechanical Engineer Lead',
 'Mechanical HVAC Engineer',
 'Mechanical Reliability Engineer',
 'Metallic Materials & Processes',
 'Microservices Software Engineer',
 'Microsoft BI',
 'Microsoft Power BI Engineer',
 'Mid Level SSDS Integration & Test Engineer',
 'Mid-Level Data Engineer',
 'Mid-level Database Engineer DBE',
 'Mid-level Electrical Engineer',
 'Mid-level Mechanical Engineer',
 'Mid-level Software Engineer SME',
 'Mission Systems Engineer',
 'Mobile Engineer HVAC',
 'Modem ASIC Engineer',
 'Modem Software Power Engineer',
 'Modem System Test Engineer',
 'Modem Systems Engineer',
 'NLP Engineer',
 'Network Data Center Engineer',
 'Network Data Engineer',
 'Network Data engineer',
 'Network Engineer',
 'Network Engineer (Data Capture)',
 'Network Infrastructure Engineer',
 'Network Operations Engineer',
 'Network Principal Engineer',
 'Network Support Engineer-L1',
 'Network Testing and Automation Engineer',
 'Network VoIP Engineer',
 'Networking Solutions Engineer',
 'OTS Staff Engineer',
 'Offshore Installation Engineer',
 'Open shift Engineer',
 'Operating Engineer',
 'Operational Test Engineer',
 'Operations Automation Engineer',
 'Operations Automation Engineer Senior',
 'Operations Engineer',
 'Oracle PL',
 'PC Application Software Engineer',
 'PROJ-2929-Network Support Engineer-L1-JAX',
 'PROJ-2929-Network Support Engineer-L1-PT',
 'PTE Field Engineer',
 'Packaging R&D Engineer Intern',
 'Packaging R&D Engineer Intern Phoenix',
 'Performance Data Analyst',
 'Performance Excellence Engineer',
 'Performance Test Engineer',
 'Performance Tester ',
 'Perl Developer',
 'Pipeline Integrity Engineer',
 'Planetary Data Engineer',
 'Plant Quality Engineer',
 'Platform Engineer',
 'Platform Engineer | Hadoop Administrator | Big Data Admin | DevOps Engineer',
 'Platform Reliability Engineer',
 'Platform Software Engineer',
 'Power & Performance Data Engineer',
 'Power BI Data Engineer',
 'Power BI Engineer',
 'Prin Data Science & Signals Engineer',
 'Principal',
 'Principal Data Engineer',
 'Principal Data Engineering -Remote in TX only',
 'Principal Data Engineering Architect',
 'Principal Data Scientist',
 'Principal Design Engineer',
 'Principal Electrical Engineer',
 'Principal Engineer',
 'Principal Front-End Engineer',
 'Principal Front-End UI Engineer',
 'Principal Software Engineer',
 'Principal Software Quality Engineer (Java Developer) *Sponsorship Available*',
 'Principal Systems Engineer',
 'Principal data engineer',
 'Process Development Scientist',
 'Process Engineer',
 'Process Optimization Engineer',
 'Process Optimization Engineer Assistant Vice President',
 'Product Data Engineer',
 'Product Engineer',
 'Product Operations Engineer',
 'Product Reliability Engineer',
 'Product Support Engineer (Supply)',
 'Product Systems Engineer',
 'Product Test Engineer',
 'Production Engineer',
 'Production Manufacturing Engineer',
 'Production Services Engineer',
 'Professional Engineer',
 'Project & Systems Engineer',
 'Project Engineer',
 'Project Engineer II',
 'Project Engineer or Project Manager I',
 'Public Projects Engineer',
 'PySpark Developer',
 'Python',
 'Python - Spark Developer ',
 'Python Data Engineer',
 'Python Data Engineer - GCP and Airflow',
 'Python Data Engineer Trading',
 'Python Engineer',
 'Python Software Engineer',
 'QA Automation Engineer',
 'QA Engineer',
 'QA Test Engineer',
 'QA UI Automation Engineer',
 'Quality Engineer',
 'R&D Optoelectronics Device Reliability Engineer',
 'REMOTE Full Stack Software Engineer',
 'REMOTE IT Security Engineer (ICAM IT Compliance & Access Management)',
 'RF Engineer Stf (Level 4)',
 'RF Systems Integration Engineer WiFi Bluetooth',
 'RFIC Design Engineer',

In [467]:
# print('unique job titles are :',df['Job Title clean'].unique())
print(len(df_new['Job Title'].unique()),'unique job titles')
print(len(df_new['Job Title clean'].unique()),'unique job titles (clean)')
sorted(df_new['Job Title clean'].unique())

1229 unique job titles
894 unique job titles (clean)

['(ESEA) Systems Engineer level 2 (Data Flow and Routing Solutions) (TS',
 '(Hybrid) Senior Enterprise Data Engineer',
 '(USA) Senior',
 '2024 Graduate',
 '2025859 Data Scientist (Data Engineer) $215',
 '5+ Years in VOICE',
 '513th Electronic Warfare Mission Data Engineer',
 '5G Data Transport Engineer',
 'AI',
 'AI Engineer',
 'AI Engineer ',
 'AI Operations and Data Transformation Engineer',
 'ASG Data Engineer',
 'ASSETS',
 'AVP Enterprise MS SQL Data Engineer',
 'AWS ',
 'AWS Certified Data Engineer',
 'AWS Cloud Data Engineer & Delivery (REMOTE)',
 'AWS Cloud Data Lead Software Engineer',
 'AWS Data Engineer',
 'AWS Data Engineer ( Hybrid at Eagan',
 'AWS Data Engineer - API Hands on exp. (Onsite: Juno Beach',
 'AWS Data Engineer - Splunk',
 'AWS Data Engineer Architect',
 'AWS Data Engineer III',
 'AWS Data Engineer Onshore_HartMap',
 'AWS Data Engineer(USC',
 'AWS Data Engineer--Minneapolis',
 'AWS Software Engineer III',
 'AWS and Databricks Data Engineer ',
 'AZURE DATA ENGINEER',
 'Academic Data Analyst & Systems Engineer',
 'Amazon',
 'Amazon Robotics',
 'Analytic Developer',
 'Application Engineer',
 'Application Engineer(Data Engineering)',
 'Application Software Engineer',
 'Applied AI',
 'Applied Data Scientist',
 'Arity',
 'Artificial Intelligence or Big Data Engineer',
 'Asset Management Engineer (Data Analytics)',
 'Assistant',
 'Assistant Vice President',
 'Associate',
 'Associate Data Engineer',
 'Associate Director',
 'Associate Engineer',
 'Associate Engineer (Data)',
 'Associate Manager',
 'Associate Specialist',
 'Associate Staff- Data Engineer',
 'Audit Data Architecture Engineer | Multiple Locations Summer',
 'Aumni',
 'Azure Administrator ',
 'Azure Cloud Data Engineer',
 'Azure Data Developer',
 'Azure Data Engineer',
 'Azure Data Engineer ',
 'Azure Data Engineer (Junior to Mid level)',
 'Azure Data Lead ',
 'Azure data engineers (remote)',
 'BI Data Engineer',
 'BI Engineer',
 'BIG DATA ENGINEER',
 'BIGDATA Data Engineer',
 'Back End-Java Developer(Data Engineer)-Assistant Vice President-Irving',
 'Backend Software Engineer',
 'Backend Software Engineer Graduate (TikTok Eng',
 'Big Data Engineer',
 'Big Data Engineer at Charlotte',
 'Big Data Engineer-Associate–Vice President',
 'Big Data Engineer_TS',
 'Big Data Infrastructure Engineer',
 'Big Data Integration Engineer',
 'Big Data Java Software Engineer III',
 'Big Data M',
 'Big Data Platform Engineer',
 'Big Data Platform Senior Engineer',
 'Big Data Software Engineer III',
 'Big Data Support Engineer for cloud migration project-Remote',
 'Big data',
 'Big data support engineer',
 'Building Automation and Controls Engineer (Mission Critical',
 'Business Data Engineer',
 'Business Engineer',
 'Business Intelligence Data Quality Engineer',
 'Business Intelligence Data Visualization ENgineer',
 'Business Intelligence Data Warehouse Engineer',
 'Business Intelligence Engineer',
 'Business Process & Data Engineer',
 'C# Software Engineer',
 'CAMPUS: Data Engineer (2024)',
 'Carbon Market Data Program Engineer',
 'Case Management Clinical Data Performance Engineer',
 'Civil Engineer',
 'Cleared Data',
 'Cleared Data Center Electrical Field Engineer',
 'Cleared Data Engineer (All Levels)',
 'Cleared Software Engineer',
 'Clinical Data Engineer',
 'Cloud',
 'Cloud Big Data Engineer',
 'Cloud Data Backend Engineer',
 'Cloud Data Engineer',
 'Cloud Data Engineer - Databricks',
 'Cloud Data Engineer 3',
 'Cloud Data Engineer II',
 'Cloud Data Migration Engineer',
 'Cloud Data Platform Engineer',
 'Cloud Security Engineer',
 'Cloud Support Engineer',
 'Commissioning Project Engineer Data Center Construction (Traveling)',
 'Communications Engineer',
 'Computer Programmer Analyst I',
 'Construction Cost Engineer',
 'Construction Project Engineer',
 'Consultant- Data Engineer',
 'Consulting Systems Engineer',
 'Controls Deployment Engineer',
 'Controls and Data Systems Engineer',
 'Cost Engineer – Data Center Construction',
 'Customer Delivery Consulting Engineer',
 'Customer and Supplier Master Data Software Engineer',
 'Cyber Associate Data Engineer',
 'Cyber Data Engineer',
 'Cyber Security Data Engineer',
 'Cyber Security Engineer',
 'DATA ENGINEER',
 'DATA ENGINEER II',
 'DATA ENGINEER III',
 'DATA ENGINEER-INFORMATION TECHNOLOGY',
 'DATA WAREHOUSE ENGINEER',
 'DCEO Engineer 3',
 'DCEO Engineer 4',
 'DCIM Controls Engineer III',
 'DMATS JR. Network Data Engineer',
 'DST Data Engineer',
 'Data',
 'Data ',
 'Data & Analytics Engineer',
 'Data & Application Security Engineer*',
 'Data & Performance Management Systems Engineer',
 'Data & Software Engineer',
 'Data & Systems Engineer',
 'Data Acquisition and Control Engineer',
 'Data Analyst',
 'Data Analyst ',
 'Data Analyst & Machine Learning Engineer',
 'Data Analyst and Visualization Engineer',
 'Data Analytic Engineer',
 'Data Analytics Engineer',
 'Data Analytics Engineer ',
 'Data Analytics Engineer Snowflake',
 'Data Analytics Engineer V',
 'Data Analytics Full Stack Engineer (SME)',
 'Data Analytics Platform',
 'Data Architect Engineer',
 'Data Automation Engineer',
 'Data Automation Engineer (TS',
 'Data Automation Engineer 118710',
 'Data Catalog Engineer (Upcoming)',
 'Data Center ACI-Arista Fabric Network Engineer IV',
 'Data Center Architect and Facility Engineer',
 'Data Center Build',
 'Data Center Building Operating Engineer',
 'Data Center Building Operating Engineer (2nd shift)',
 'Data Center Building Operations Engineer',
 'Data Center Cabling & Hardware Support Engineer.',
 'Data Center Chief Engineer',
 'Data Center Chief Engineer (Nights)',
 'Data Center Civil Engineer',
 'Data Center Construction Project Engineer',
 'Data Center Electrical Facilities Engineer II',
 'Data Center Engineer',
 'Data Center Engineer (Infrastructure',
 'Data Center Engineer (Storage)',
 'Data Center Engineer (VDI)',
 'Data Center Facilities Engineer',
 'Data Center Facility Engineer',
 'Data Center Facility Engineer II',
 'Data Center GPU Applications Stress Engineer',
 'Data Center Infrastructure Engineer',
 'Data Center Network Engineer',
 'Data Center Operating Engineer',
 'Data Center Operations Engineer',
 'Data Center Operations Engineer – Intermediate (Hyde Park)',
 'Data Center Production Operations Engineer (University Grad)',
 'Data Center Regional Electrical Engineer (Field Engineering)',
 'Data Center Reliability Engineer',
 'Data Center Services Electrical Commissioning Engineer II',
 'Data Center Specialist ',
 'Data Center Support Engineer',
 'Data Center Technical Operations Engineer I',
 'Data Center Technical Operations Engineer II',
 'Data Center Technology Lead Engineer',
 'Data Cloud Solution Engineer',
 'Data Com Engineer',
 'Data Communications Engineer',
 'Data Conversion Engineer',
 'Data Engineer',
 'Data Engineer ',
 'Data Engineer & Cloud Services',
 'Data Engineer & Scientific Programmer',
 'Data Engineer (100% Remote)',
 'Data Engineer (13+ Years)',
 'Data Engineer (AWS',
 'Data Engineer (Associate Consultant)',
 'Data Engineer (Cloud) – Des Moines',
 'Data Engineer (Cloud) – Minneapolis',
 'Data Engineer (Cloud) – St. Louis',
 'Data Engineer (Contract)',
 'Data Engineer (Data Warehouse)',
 'Data Engineer (ElasticSearch)',
 'Data Engineer (Flex Hybrid)',
 'Data Engineer (Free Library of Philadelphia)',
 'Data Engineer (Full Scope Poly)',
 'Data Engineer (Hybrid',
 'Data Engineer (Hybrid)',
 'Data Engineer (KG)',
 'Data Engineer (L5)',
 'Data Engineer (Local to Herndon',
 'Data Engineer (MongoDB)',
 'Data Engineer (On-Site)',
 'Data Engineer (Partial Remote)',
 'Data Engineer (Python)',
 'Data Engineer (R&D Engineer 2',
 'Data Engineer (Remote Option)',
 'Data Engineer (Remote)',
 'Data Engineer (Senior',
 'Data Engineer (TS',
 'Data Engineer (Talend)',
 'Data Engineer (USSOCOM)',
 'Data Engineer - Java (Only 10+ Years)',
 'Data Engineer - python',
 'Data Engineer - strong python development',
 'Data Engineer -Tunnel 9',
 'Data Engineer 07-DM1115-1',
 'Data Engineer 1',
 'Data Engineer 2',
 'Data Engineer 2 #3328',
 'Data Engineer 2-3',
 'Data Engineer 3',
 'Data Engineer 3 (Remote)',
 'Data Engineer 4',
 'Data Engineer Analyst',
 'Data Engineer Assoc Manager',
 'Data Engineer Co-Op',
 'Data Engineer Consultant',
 'Data Engineer Consultant (Clearance Required)',
 'Data Engineer GCP',
 'Data Engineer Graduate (Real Time Communication)',
 'Data Engineer I',
 'Data Engineer I-V',
 'Data Engineer II',
 'Data Engineer II (Hybrid Eligible)',
 'Data Engineer II (Hybrid Work Schedule)',
 'Data Engineer II (Remote)',
 'Data Engineer II- Windreich Department of Artificial Intelligence & Human Health',
 'Data Engineer III',
 'Data Engineer III (Hybrid Work Schedule)',
 'Data Engineer III (IT Application Engineer)',
 'Data Engineer III (REMOTE)',
 'Data Engineer III (Remote)',
 'Data Engineer IV',
 'Data Engineer LMTS',
 'Data Engineer Leader',
 'Data Engineer Level 2',
 'Data Engineer Manager',
 'Data Engineer MongoDB',
 'Data Engineer Senior',
 'Data Engineer Senior (ETL)',
 'Data Engineer TS',
 'Data Engineer Technical Specialist',
 'Data Engineer US',
 'Data Engineer in NYC',
 'Data Engineer only W2',
 'Data Engineer | Enterprise Solutions Delivery',
 'Data Engineer – ETL Developer',
 'Data Engineer- AVP',
 'Data Engineer- Alerts',
 'Data Engineer- Mid',
 'Data Engineer- Neuroimaging',
 'Data Engineer- Salt Lake City Utah',
 'Data Engineer-FHIR Analyst',
 'Data Engineers',
 'Data Flow Engineer (TS',
 'Data Flow Junior Systems Engineer',
 'Data Flow Support Systems Engineer',
 'Data Governance Engineer',
 'Data Governance Technology Engineer',
 'Data Infrastructure Engineer',
 'Data Integration Engineer',
 'Data Integration Engineer (Kansas City',
 'Data Integration and Process Automation Engineer-(non-remote role)',
 'Data Integration and Warehouse Engineer',
 'Data Integrity Engineer (PI Systems)',
 'Data Lake Engineer',
 'Data Link Test Engineer',
 'Data Links ',
 'Data Logging Engineer',
 'Data Management',
 'Data Management Engineer',
 'Data Management Software Engineer',
 'Data Management Software Engineer (TX)',
 'Data Management – ATLAS LCAT Systems Engineer 2',
 'Data Manager',
 'Data Manager Engineer',
 'Data Migration Engineer',
 'Data Mining Analytics Engineer',
 'Data Mining Engineer',
 'Data Mining and Analytics Engineer (Junior)',
 'Data Operations Engineer',
 'Data Pipeline Engineer',
 'Data Platform',
 'Data Platform Engineer',
 'Data Platform Engineer (Data Stewardship)',
 'Data Platform Engineer (FT)',
 'Data Platform Engineer II',
 'Data Platform Engineer Lead',
 'Data Processing Engineer',
 'Data Production Engineer',
 'Data Protection Cyber Security Engineer',
 'Data QA Engineer',
 'Data Quality & Platform Lead Engineer',
 'Data Quality Assurance Engineer',
 'Data Quality Assurance Engineer (Hybrid)',
 'Data Quality Engineer',
 'Data Quality Systems Software Development Engineer',
 'Data Science',
 'Data Science Cyber Systems Engineer',
 'Data Science Data Support Engineer',
 'Data Science Engineer',
 'Data Scientist',
 'Data Scientist ',
 'Data Scientist and Algorithm Engineer',
 'Data Scientist or Engineer',
 'Data Scientist: Analyst: Sales Engineer',
 'Data Security Engineer',
 'Data Services Engineer',
 'Data Solutions Engineer',
 'Data Storage Engineer',
 'Data Support Engineer',
 'Data Systems Architect ',
 'Data Systems Engineer',
 'Data Test Engineer II',
 'Data Warehouse Engineer',
 'Data Warehouse Engineer (Remote Eligible)',
 'Data Warehouse Engineer II',
 'Data and Analytics Engineer',
 'Data and Control Systems Engineer II',
 'Data and Development Engineer',
 'Data and Reporting Engineer',
 'Data center Engineer (contractor)',
 'Data center technician',
 'Data engineer - Java and Scala',
 'Data lake Engineer',
 'DataOS Data Engineer',
 'Database Administrator (Senior Data Engineer)',
 'Database Engineer',
 'Database Engineer 2 (Data Management)',
 'Database Engineer 2 (Data Management)- NHTT05',
 'Database Engineer 3 (Data Management)',
 'Database Engineer 3 (Data Management)- NHTT05',
 'Database Engineer Data Manager',
 'Databricks Data Engineer',
 'Design and Development Engineer',
 'DevOps Data Center Engineer',
 'Digital Marketing Data Engineer',
 'Direct Client – Senior Data Platform Engineer (Python',
 'Director Privacy Engineer',
 'Distinguished Data Engineer',
 'Distinguished Engineer I: Data Center Hardware Engineer',
 'Distinguished Engineer I: Enterprise Cloud and Data Center Storage Engineer',
 'Distinguished Software Engineer Cryptography and Data Protection (REMOTE)',
 'Distributed Data Systems',
 'ENGINEER',
 'ERP Data Engineer',
 'ETL Data Engineer',
 'ETL Data Engineer IV',
 'ETL Developer',
 'Electrical Design Engineer',
 'Electrical Engineer',
 'Electrical Engineer (Data Center',
 'Electrical Engineer (Mission Critical',
 'Electro-Optic Data Scientist ',
 'Embedded Software Engineer I',
 'Engineer I IT',
 'Engineer II',
 'Engineer II – Data Engineering',
 'Engineer III',
 'Engineer Senior',
 'Engineer-Data Coordinator-Issues Manager for Launch',
 'Enterprise Access Data Network Engineer- Implementation',
 'Enterprise Data Strategy & Governance',
 'Enterprise Infrastructure Software Data Engineer',
 'Enterprise Infrastructure Software Data Engineer III',
 'Essentials of Manufacturing Engineer',
 'European Spanish Data NLU Engineer',
 'Excel Expert Software Engineer',
 'Experienced Data Engineer',
 'Experienced Software Engineer',
 'FLS Production Engineer – Production Data Analyst',
 'FamilySearch Data Extraction',
 'Field Engineer',
 'Finxact',
 'Founding Data Engineer',
 'Frontend Engineer Lead (Data Visualization)',
 'Frontend Software Engineer',
 'Full Stack Data Engineer',
 'Full Stack Developer',
 'Full Stack Engineer',
 'Full Stack Software Engineer (Data Stewardship)',
 'Fully Remote Civil Designer',
 'GCP',
 'GCP Data Engineer (Insurance)',
 'GIS Data Engineer ',
 'GLO',
 'General Engineer',
 'Geospatial Data Engineer',
 'Geospatial Data Engineer 2',
 'Global Media Data Engineer',
 'Google Cloud Platform Data Engineer',
 'Government and Public Sector',
 'Graduate Engineer',
 'Health and Civil Data Engineer',
 'Hospitality Data Systems Engineer',
 'Hybrid Junior Data Engineer',
 'Hybrid Work',
 'I04 Data Engineer',
 'IP Data Network Customer Support Engineer',
 'IS Engineer',
 'IT Application Engineer (Data Engineer II)',
 'IT Data Engineer',
 'IT Data Engineer (Aspire)',
 'IT Engineer',
 'IT Specialist (Data Architect',
 'IT Systems Engineer',
 'Implementation Specialist',
 'Info Big Data Engineer (Senior Engineer)',
 'Information Data Analyst',
 'Information Technology',
 'Information Technology Analyst IV (Data Engineer)',
 'Infrastructure',
 'Infrastructure Engineer',
 'Integrated Supply Chain Data Engineer',
 'Intermediate Data Engineer',
 'Investment Data Engineer',
 'JOB ID 10842: Data Engineer',
 'JOB ID 10900: Data Engineer',
 'JR. DATA ENGINEER | (w2',
 'Java',
 'Junior Data Engineer',
 'Junior Data Science Engineer',
 'Junior Engineer',
 'Junior to Mid-Level Data Engineer',
 'K-Star Data Engineer',
 'LEAD ANALYST',
 'LEAD ENGINEER',
 'LRLM07-2023-02096-Appraiser-Cheyenne',
 'Lead',
 'Lead Application Engineer Data Center',
 'Lead Building Automation and Controls Engineer(Mission Critical',
 'Lead Cloud Data Engineer',
 'Lead Data Engineer',
 'Lead Data Engineer (HYBRID)',
 'Lead Data Engineer (Hybrid)',
 'Lead Data Engineer (Remote)',
 'Lead Data Engineer (TS',
 'Lead Data Engineer -Marketing Technology',
 'Lead Data Engineer- Oracle ',
 'Lead Data Platform Engineer-Construction Technology',
 'Lead Data Science Engineer',
 'Lead Data Warehouse Engineer (Hybrid)',
 'Lead Electrical Engineer (Mission Critical',
 'Lead Engineer',
 'Lead Field Services Specialist',
 'Lead Mechanical Engineer (Mission Critical',
 'Lead Power Studies Engineer (Mission Critical',
 'Lead Sales Engineer',
 'Lead Software Data Performance Engineer',
 'Lead Software Engineer',
 'Lead Software Engineer- Python ',
 'Lead Telecom Engineer',
 'Lead data engineer – R01530706',
 'Lead-Data Engineer',
 'Licensed Civil Engineer',
 'Licensed Electrical Engineer',
 'ML Engineer ',
 'ML Ops Engineer',
 'Machine Learning Engineer',
 'Machine Learning Operations Engineer ',
 'Mainframe Data Masking Engineer',
 'Mainframe Lead Data Engineer',
 'Manager',
 'Managing Software Engineer',
 'Manufacturing Engineer',
 'Manufacturing and Data Systems Engineer',
 'Marketing Analytics Engineer',
 'Marketing Analytics Engineer- Data Visualization',
 'Marketing Data Engineer',
 'Marketing Data Engineer II',
 'Master Data Management (MDM) Production Support Engineer (Remote)',
 'Mechanical Commissioning Engineer II',
 'Mechanical Commissioning Engineer Lead I',
 'Mechanical Design Engineer',
 'Mechanical Engineer',
 'Mechanical Engineer (Mission Critical',
 'Mechanical Engineer(Mission Critical',
 'Metering Data Engineer',
 'Microbiology Data Engineer',
 'Mid Data Engineer',
 'Mid Data Processing Engineer',
 'Mid-Level Data Engineer',
 'Mid-Level Threat Engineer and Data Scientist',
 'Mission Data Engineer',
 'Mission Data Engineer (Mid-Level)',
 'NETWORK',
 'NW Engineer Data II',
 'Network Data Engineer',
 'On-Site Mechanical Engineer',
 'Operating Engineer',
 'Operating Engineer (Data Center)',
 'Operational Data Support System Engineer',
 'Operations and Data Analytics Engineer',
 'Optimization and Data Science Engineer',
 'Orion Command and Data Handling Vehicle Subsystem Engineer',
 'Part-time Data Engineer',
 'People Data Engineer',
 'Pharmacy Data Engineer (Hybrid)',
 'Physical Security Engineer',
 'Plumbing Engineer (Mission Critical',
 'Power Systems Engineer',
 'PowerBI Engineer',
 'Principal',
 'Principal ',
 'Principal Analytics Data Engineer',
 'Principal Architect Engineer',
 'Principal Civil Engineer',
 'Principal Cloud Data Engineer',
 'Principal Computer Engineer',
 'Principal Cyber Data Engineer',
 'Principal Data Driven Model Development Engineer',
 'Principal Data Engineer',
 'Principal Data Engineer (Azure)',
 'Principal Data Engineer (Platform AI',
 'Principal Data Engineer Snowflake AWS',
 'Principal Data Engineer- Manufacturing & Clinical Supply (MCS)',
 'Principal Data Engineer- OCI',
 'Principal Data Engineer-Snowflake',
 'Principal Data Platform ',
 'Principal Data Platform Engineer',
 'Principal Data Protection Engineer',
 'Principal Data Quality Engineer (Remote)',
 'Principal Data Scientist',
 'Principal Data Systems Engineer',
 'Principal Engineer',
 'Principal Engineer ( DevOps Data Platform ',
 'Principal Engineer Electromechanical',
 'Principal Engineer II',
 'Principal Engineer II: Data Center Hardware Engineer',
 'Principal Engineer Software (Prisma Access Data-plane Applications)',
 'Principal Hadoop Data Engineer',
 'Principal IT Engineer Applications',
 'Principal SME Data Engineer',
 'Principal Software Engineer',
 'Process Automation and Data Acquisition Engineer',
 'Process Data Engineer',
 'Process Engineer',
 'Process Engineer - Data Recon domain_BR',
 'Process Technology Engineer',
 'Product Development Engineer',
 'Progress OpenEdge Data Conversion Engineer',
 'Project Engineer',
 'Project Engineer Data Manager Specialist',
 'Project Engineer- Data Center Construction',
 'Project Engineer-Data Center Technical Advisor',
 'Project Industrial Data Engineer',
 'Public Cloud',
 'Pyspark AWS Data Engineer(Onsite)',
 'Python',
 'Python (Data Engineer)',
 'Python Data Engineer',
 'Python Engineer',
 'Python PySpark',
 'Python and SQL Data Engineer',
 'QA Automation Engineer',
 'QA Data Engineer G5377',
 'QA Engineer',
 'Quality Assurance Engineer',
 'Quality Assurance Engineer- Level II',
 'Quality Engineer',
 'Quantitative Analyst',
 'R&D Software Engineer – Sensor Data Analysis',
 'Ransomware Data Recovery Engineer ',
 'Regional Safety Engineer',
 'Reliability Master Data Engineer',
 'Remote Data ',
 'Research Data Center Engineer',
 'Research Informatics Data & Software Engineer',
 'Research Software Engineer',
 'Risk Data Engineer',
 'Risk and Data Management Systems Engineer',
 'SAP NS2 Data Engineer-TS',

In [468]:
df['Easy Apply'].value_counts() / len(df)

Easy Apply
False    0.942369
True     0.057631
Name: count, dtype: float64

In [469]:
df_new['Easy Apply'].value_counts() / len(df_new)

Easy Apply
False    0.65554
True     0.34446
Name: count, dtype: float64

In [470]:
print(df.loc[df['Years Experience'].isna(),'Job Title'].shape[0])
df.loc[df['Years Experience'].isna(),'Job Title'].value_counts()

716

Job Title
Data Engineer                          137
Software Engineer                       25
Big Data Engineer                       21
Senior Data Engineer                    20
Sr. Data Engineer                        9
                                      ...
Data and Analytics Engineer              1
Data Visualization Engineer              1
Data Systems Engineer/Informaticist      1
Data Storage Engineer Consultant         1
machine learning Engineer with AWS       1
Name: count, Length: 424, dtype: int64

In [471]:
print(df_new.loc[df_new['Years Experience'].isna(),'Job Title'].shape[0])
df_new.loc[df_new['Years Experience'].isna(),'Job Title'].value_counts()

493

Job Title
Data Engineer                                                     64
Senior Data Engineer                                              34
Data Engineer/Sr. Data Engineer (Remote) - EVOLVE Intelligence     8
Sr. Data Engineer                                                  7
Data Engineer (AWS, Azure, GCP)                                    6
                                                                  ..
Data Management/Systems Engineer                                   1
Data Management – ATLAS LCAT Systems Engineer 2                    1
Data Management Software Engineer                                  1
Data Management Engineer                                           1
data engineer lead                                                 1
Name: count, Length: 317, dtype: int64

In [472]:
print(list(df['Salary Estimate'].value_counts().index))

['60-109', '75-135', '82-130', '93-106', '94-164', '77-145', '67-72', '52-85', '108-127', '66-113', '73-94', '133-210', '54-104', '87-104', '54-103', '85-158', '105-121', '79-96', '94-166', '85-154', '108-199', '115-201', '79-146', '53-100', '84-113', '81-141', '164-192', '105-110', '57-75', '67-126', '57-108', '99-177', '95-99', '43-84', '74-134', '30-60', '113-198', '79-104', '69-122', '77-181', '56-108', '45-76', '65-120', '39-77', '88-136', '95-167', '94-107', '80-150', '191-217', '44-80', '27-50', '55-106', '54-113', '140-151', '71-130', '91-166', '52-63', '69-103', '110-188', '62-92', '55-105', '56-89', '44-141', '64-124', '65-101', '67-107', '74-93', '79-132', '88-163', '46-92', '100-160', '48-74', '28-53', '59-135', '73-126', '74-123', '106-127', '76-128', '154-281', '74-145', '49-98', '81-100', '100-181', '92-117', '66-122', '118-187', '70-138', '37-75', '57-92', '58-94', '57-97']

In [473]:
df_new['Salary Estimate'].value_counts()

Salary Estimate
160        25
100-200    21
85-170     16
90-115     16
-1         13
           ..
108-158     1
109-160     1
87-146      1
91-146      1
100-134     1
Name: count, Length: 1330, dtype: int64

In [474]:
pd.set_option('display.max_colwidth', 100)
df.loc[df['Job Title clean'].str.contains('\(') | df['Job Title clean'].str.contains('\)'), ['Job Title','Job Title clean']]

,Job Title,Job Title clean
2,(Big Data Developer) Applications Systems Engineer 4,(Big Data Developer) Applications Systems Engineer 4
3,"(Project Staff) Consultant, Data Engineer",(Project Staff) Consultant
4,"(SONUS) Engineer/Senior Engineer, IT Network Infrastructure",(SONUS) Engineer
5,(Senior) Data Engineer,(Senior) Data Engineer
8,"7232 Data Engineer (Analyst/Programmer - Career), Information Technology DevOps",7232 Data Engineer (Analyst
...,...,...
2444,Systems Engineer-(Ft. Worth or Wichita),Systems Engineer-(Ft. Worth or Wichita)
2450,Systems Integration Engineer (IO-ISR),Systems Integration Engineer (IO-ISR)
2454,TDM (Test Data Management) Engineer,TDM (Test Data Management) Engineer
2455,TDM (Test Data Management) Engineer with Mainframe exp,TDM (Test Data Management) Engineer - Mainframe exp
2497,Validation Engineer I (Lab Equipment),Validation Engineer I (Lab Equipment)

In [475]:
pd.set_option('display.max_colwidth', 100)
df_new.loc[df_new['Job Title clean'].str.contains('\(') | df_new['Job Title clean'].str.contains('\)'), ['Job Title','Job Title clean']]

,Job Title,Job Title clean
0,(ESEA) Systems Engineer level 2 (Data Flow and Routing Solutions) (TS/SCI w/FS Poly),(ESEA) Systems Engineer level 2 (Data Flow and Routing Solutions) (TS
1,(Hybrid) Senior Enterprise Data Engineer,(Hybrid) Senior Enterprise Data Engineer
2,(Hybrid) Senior Enterprise Data Engineer - San Antonio Texas,(Hybrid) Senior Enterprise Data Engineer
3,"(USA) Senior, Software Engineer - Data Ventures",(USA) Senior
5,"2025859 Data Scientist (Data Engineer) $215,000.00",2025859 Data Scientist (Data Engineer) $215
...,...,...
2404,"Systems Engineer (Data Recovery, Internet Trace Evidence Recovery & Analysis, Forensics Analysis...",Systems Engineer (Data Recovery
2405,Systems Engineer (HVAC),Systems Engineer (HVAC)
2416,Systems Engineer – Kirkland AFB (Data Sci/Arch Level 2),Systems Engineer – Kirkland AFB (Data Sci
2428,"Technical Support Engineer (L5) - Data Platform, Big Data / Analytics",Technical Support Engineer (L5)
2432,Test Data Engineer (OPTIM) (W2 ROLE ONLY),Test Data Engineer (OPTIM) (W2 ROLE ONLY)

In [476]:
df.loc[df['Job Title'].str.contains('/'), ['Job Title','Job Title clean']]

,Job Title,Job Title clean
4,"(SONUS) Engineer/Senior Engineer, IT Network Infrastructure",(SONUS) Engineer
8,"7232 Data Engineer (Analyst/Programmer - Career), Information Technology DevOps",7232 Data Engineer (Analyst
15,AI Researcher/Engineer - CV,AI Researcher
16,"AI/ML , Data Engineer",AI
17,"AI/ML ,Data Engineer",AI
...,...,...
2418,Systems Administrator III / Information Systems Security Engineer (ISSE),Systems Administrator III
2466,"Technical Leader, Software Engineer (C/C++, Python, Distributed Systems)",Technical Leader
2474,Test / DevSecOps Engineer,Test
2498,Validations Manager / Engineer,Validations Manager
2501,Virtualization Engineer/Architect,Virtualization Engineer

In [477]:
pd.set_option('display.max_colwidth', 100)
df_new.loc[df_new['Job Title'].str.contains('/'), ['Job Title','Job Title clean']].head(55)

,Job Title,Job Title clean
0,(ESEA) Systems Engineer level 2 (Data Flow and Routing Solutions) (TS/SCI w/FS Poly),(ESEA) Systems Engineer level 2 (Data Flow and Routing Solutions) (TS
4,2024 Graduate - Data Scientist/Engineer - Decision Systems,2024 Graduate
6,5+ Years in VOICE/DATA COMM ENGINEER,5+ Years in VOICE
9,AI Engineer / Data Scientist,AI Engineer
10,AI Engineer/Data Scientist,AI Engineer
12,AI/ML Engineer-Data Scientist,AI
13,AI/ML Engineer-Data Scientist,AI
19,AWS / Data Engineer,AWS
34,AWS Data Engineer - Data Warehousing | Pipelining | End to End Processes - TS/SCI Req.,AWS Data Engineer
40,AWS Data Engineer(USC/GC Only),AWS Data Engineer(USC
43,AWS and Databricks Data Engineer / Architect,AWS and Databricks Data Engineer
48,Analytic Developer/Data Engineer (QC) TO8-013,Analytic Developer
52,Applied AI/ML Data Engineer,Applied AI
57,"Assistant Vice President, Electrical Engineer (Mission Critical/Data Center)",Assistant Vice President
58,Assistant/Associate Data Science Engineer,Assistant
62,"Associate Director, Engineering/Lead Engineer II (Data Center Network and WAN)",Associate Director
63,"Associate Director, Engineering/Lead Engineer II (Data Center Network and WAN)",Associate Director
64,"Associate Director, Engineering/Lead Engineer II (Data Center Network and WAN)",Associate Director
65,"Associate Director, Engineering/Lead Engineer II (Data Center Network and WAN)",Associate Director
72,Audit Data Architecture Engineer | Multiple Locations Summer/Fall 2024,Audit Data Architecture Engineer | Multiple Locations Summer
74,Azure Administrator / Data Engineer,Azure Administrator
76,Azure Data Developer/ Engineer,Azure Data Developer
95,Azure Data Engineer / Data Engineer,Azure Data Engineer
96,Azure Data Engineer/Architect,Azure Data Engineer
97,Azure Data Lead / Azure Data Engineer,Azure Data Lead
106,Backend Software Engineer Graduate (TikTok Eng - Data Access Team) - 2024 Start (BS/MS),Backend Software Engineer Graduate (TikTok Eng
117,Big Data Engineer - Java/Scala,Big Data Engineer
121,Big Data Engineer_TS/SCI Clearance Required!,Big Data Engineer_TS
127,Big Data M/L Engineer,Big Data M
135,Big data/ ETL Engineer,Big data
136,Building Automation and Controls Engineer (Mission Critical/Data Center),Building Automation and Controls Engineer (Mission Critical
146,"C# Software Engineer, Marketing Cloud Data Platform (Lead/Principal)",C# Software Engineer
154,Cleared Data/ETL Engineer,Cleared Data
180,Cloud/Big Data Software Engineer,Cloud
182,Communications Engineer/Data Analyst,Communications Engineer
230,Data / Composition Engineer,Data
231,Data / Software Engineer,Data
234,Data Analyst / Engineer,Data Analyst
235,Data Analyst / Engineer,Data Analyst
236,Data Analyst / Engineer,Data Analyst
237,Data Analyst / Engineer in Support of ACT Architectural Coherence,Data Analyst
239,Data Analyst/ Engineer,Data Analyst
240,Data Analyst/Data Engineer,Data Analyst
241,Data Analyst/Engineer,Data Analyst
242,Data Analyst/Engineer,Data Analyst
243,Data Analyst/Engineer,Data Analyst
244,Data Analyst/Engineer,Data Analyst
245,Data Analyst/Engineer,Data Analyst
259,Data Analytics Engineer / Senior Data Analytics Engineer,Data Analytics Engineer
274,Data Automation Engineer (TS/SCI required),Data Automation Engineer (TS
321,Data Center Engineer (Infrastructure/Cloud),Data Center Engineer (Infrastructure
365,Data Center Specialist / Senior Engineer,Data Center Specialist
739,Data Engineer (Hybrid) - Python/Java/Kibana/ElasticSearch/JSON/Kafka,Data Engineer (Hybrid)
743,"Data Engineer (Local to Herndon, VA)(USC/GC Only)",Data Engineer (Local to Herndon
753,Data Engineer (R&D Engineer 2/3),Data Engineer (R&D Engineer 2

In [478]:
pd.set_option('display.max_colwidth', 100)
df_new.loc[df_new['Job Title'].str.contains('/'), ['Job Title','Job Title clean']].tail(54)

,Job Title,Job Title clean
1977,Senior Network Engineer (VoIP/Data Comms),Senior Network Engineer (VoIP
1983,"Senior PowerBI Engineer and Data Analyst / Irving, TX",Senior PowerBI Engineer and Data Analyst
2002,Senior Software Engineer (Cloud/Data Lake ),Senior Software Engineer (Cloud
2022,Senior Software Engineer / Data Engineer - IDS1090,Senior Software Engineer
2031,"Senior Software Engineer, Content Services/Data",Senior Software Engineer
2042,"Senior Software Engineer, Data/ML (Full Stack)",Senior Software Engineer
2047,"Senior Software Engineer- Data Warehousing, ETL, Informatica, Python/Spark",Senior Software Engineer- Data Warehousing
2050,Senior Software Engineer/SRE- Data and Runtime Stability,Senior Software Engineer
2090,Senior System Engineer – (Bryan/College Station Data Center),Senior System Engineer – (Bryan
2093,Senior Systems Engineer (Data Analysis/Modeling & Simulation),Senior Systems Engineer (Data Analysis
2100,Senior Web Developer/Data Engineer,Senior Web Developer
2106,Senior/First Data Engineer,Senior
2148,Software Engineer - 2 (Cyber Data Collection/Python),Software Engineer
2173,Software Engineer - Java / Big Data,Software Engineer
2177,"Software Engineer - Streaming / Real time, Ads Data",Software Engineer
2181,Software Engineer I/Software Engineer II - Data Management/Application Support,Software Engineer I
2182,Software Engineer II (Data/AWS),Software Engineer II (Data
2185,Software Engineer III (Data/AWS),Software Engineer III (Data
2187,Software Engineer III - Java/Data Engineering,Software Engineer III
2188,Software Engineer III - Python AI/ML Data Platforms,Software Engineer III
2202,"Software Engineer, Data Science (Experienced/Senior)",Software Engineer
2204,"Software Engineer, Marketing Cloud Data Platform (Senior/Lead/Principal)",Software Engineer
2207,"Software Engineer-Data Engineer, TS/SCI",Software Engineer-Data Engineer
2208,Software Engineer-Marketing Data/Azure,Software Engineer-Marketing Data
2210,Software Engineer/Data Manager (ID),Software Engineer
2213,Software/Data Engineer,Software
2214,Software/Data Engineer 3,Software
2215,Software/Data Engineer TS/SCI + Polygraph $120K - $200k + 15% 401k,Software
2217,Solutions Engineer/ Systems Data Management Consultant,Solutions Engineer
2219,Spark + Java Engineer/Big Data Engineer,Spark + Java Engineer
2237,Sr Data Engineer - VA/VHA,Senior Data Engineer
2254,"Sr. AWS Data Engineer / W2 / Dallas, TX",Senior AWS Data Engineer
2312,Sr. Data Engineer (Python/Spark),Senior Data Engineer (Python
2316,Sr. Data Engineer / Cloud,Senior Data Engineer
2323,Sr. Data Scientist/Deep Learning Engineer,Senior Data Scientist
2337,Sr. Machine Learning / Data Science Engineer,Senior Machine Learning
2338,Sr. Master Data Software Engineer - C# / Python,Senior Master Data Software Engineer
2346,Sr. Software Engineer - ML/Data (Remote,Senior Software Engineer
2348,Sr. Staff Software Engineer - Data/ML (Hybrid),Senior Staff Software Engineer
2350,Sr/ Software Development Engineer - Big Data,Senior
2380,"Staff Project Engineer / Production Data Systems - Troy, AL",Staff Project Engineer
2390,"Staff Software Engineer, AI/ML and Data Infrastructure",Staff Software Engineer
2408,Systems Engineer - Cloud/Data #996669,Systems Engineer
2411,Systems Engineer - Data Protection/Storage - Hybrid Remote,Systems Engineer
2413,Systems Engineer / Data Center Manager,Systems Engineer
2416,Systems Engineer – Kirkland AFB (Data Sci/Arch Level 2),Systems Engineer – Kirkland AFB (Data Sci
2421,Systems Engineer/Data Center Administrator,Systems Engineer
2425,Tabular Data Engineer / Architect,Tabular Data Engineer
2428,"Technical Support Engineer (L5) - Data Platform, Big Data / Analytics",Technical Support Engineer (L5)
2446,Vice President / Data Engineer III,Vice President
2450,Voice/ Data Communications Engineer,Voice
2451,Voice/Data Comm Engineer,Voice
2452,Voice/Data Communications Engineer,Voice
2454,Voice/Data Communications Engineer/Design Specialist in MI (LOCALS ONLY),Voice

In [479]:
df.groupby('Job Title clean').count()['Job Title'].sort_values(ascending=False).head(40)

Job Title clean
Data Engineer                     545
Senior Data Engineer              153
Software Engineer                 147
Big Data Engineer                  78
Senior Software Engineer           35
Systems Engineer                   17
Data Engineer II                   17
Data Scientist                     16
Machine Learning Engineer          16
Senior Big Data Engineer           16
Data Platform Engineer             14
Lead Data Engineer                 13
Data Warehouse Engineer            13
Azure Data Engineer                11
Federal                            10
Software Development Engineer      10
Cloud Engineer                      9
Full Stack Engineer                 9
DevOps Engineer                     9
Sales Engineer                      9
Data Analyst                        9
Business Intelligence Engineer      8
Engineer                            8
Senior Engineer                     8
Junior Data Engineer                8
DATA ENGINEER                       8
Senior Systems Engineer             8
Principal Data Engineer             8
Full Stack Software Engineer        7
Cloud Data Engineer                 7
Electrical Engineer                 7
Data Analytics Engineer             7
Data Integration Engineer           7
AI                                  6
Data Architect II                   5
Network Engineer                    5
Staff Data Engineer                 5
Integration Engineer                5
System Engineer                     5
Cybersecurity Senior Engineer       5
Name: Job Title, dtype: int64

In [480]:
df_new.groupby('Job Title clean').count()['Job Title'].sort_values(ascending=False).head(40)

Job Title clean
Data Engineer                                                383
Senior Data Engineer                                         228
Software Engineer                                             41
Senior Software Engineer                                      35
Lead Data Engineer                                            34
Principal Data Engineer                                       29
Lead Software Engineer                                        22
Senior Staff AI Data Engineer                                 22
Data Center Engineer                                          20
Azure Data Engineer                                           16
Data Engineer II                                              16
Data Integration Engineer                                     14
Staff Data Engineer                                           13
Staff Software Engineer                                       12
Senior Electrical Engineer                                    12
Systems Engineer                                              11
Senior Cloud Data Engineer                                    11
Data Center Services Electrical Commissioning Engineer II     10
Senior Data Platform Engineer                                 10
Data Analytics Engineer                                       10
Junior Data Engineer                                           9
Data Science Engineer                                          9
Cloud Data Engineer                                            9
AWS Data Engineer                                              9
Senior Engineer                                                9
Big Data Engineer                                              8
Data Engineer IV                                               8
Data Automation Engineer                                       7
Data Engineer III                                              7
Data Center Facilities Engineer                                7
Principal Software Engineer                                    7
Data Analyst                                                   7
Data Engineer (Hybrid)                                         7
Data Engineer                                                  6
Data Engineer (AWS                                             6
Data Systems Engineer                                          6
Senior Big Data Engineer                                       6
Data Warehouse Engineer                                        5
Senior                                                         5
Associate Director                                             5
Name: Job Title, dtype: int64

In [481]:
set(df.columns)

{'Company Name',
 'Duplicate Count',
 'Easy Apply',
 'Founded',
 'Industry',
 'Job Description',
 'Job Title',
 'Job Title clean',
 'Location',
 'Rating',
 'Revenue',
 'Salary Estimate',
 'Salary Type',
 'Sector',
 'Size',
 'Type',
 'Years Experience',
 'job_description_cleaned',
 'max_salary',
 'min_salary'}

In [482]:
set(df_new.columns)

{'Company Name',
 'Duplicate Count',
 'Easy Apply',
 'Founded',
 'Industry',
 'Job Description',
 'Job Title',
 'Job Title clean',
 'Location',
 'Rating',
 'Revenue',
 'Salary Estimate',
 'Salary Type',
 'Sector',
 'Size',
 'Type',
 'Years Experience',
 'job_description_cleaned',
 'max_salary',
 'min_salary'}

In [483]:
set(df.columns) - set(df_new.columns)

set()

In [484]:
df.loc[:,'Type'].value_counts()

Type
Company - Private                 1387
Company - Public                   750
Subsidiary or Business Segment     125
Nonprofit Organization              48
Government                          21
College / University                12
Contract                            10
Private Practice / Firm              6
Other Organization                   4
Hospital                             3
Self-employed                        1
School / School District             1
Name: count, dtype: int64

In [485]:
df.loc[df['Salary Type']=='Per Hour']

Empty DataFrame
Columns: [Job Title, Company Name, Location, Salary Estimate, Rating, Job Description, Founded, Industry, Revenue, Sector, Size, Type, Easy Apply, Duplicate Count, Job Title clean, Salary Type, min_salary, max_salary, job_description_cleaned, Years Experience]
Index: []